@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono {
    font-family: "Azeret Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
}

/* share styles */
.mx-center {
    width: 1320px;
    margin: auto;
    /* text-align: center; */
}

.content-width {
    width: 852px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.share-color {
    color: rgb(13, 19, 33);
}

p {
    opacity: 0.7;
}

a {
    font-weight: 700;
    color: rgb(13, 19, 33);

}

.bold-font {
    font-weight: 800;
    font-size: 32px;
    line-height: 35px;
    color: rgb(13, 19, 33);
}

/* share end */

/* nav styles */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
}

header nav h3 {
    font-size: 28px;
    font-weight: 800;
}

.nav-btn {
    padding: 17px 24px;
    background-color: transparent;
    border: 1px rgb(13, 19, 33) solid;
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.banner {
    background-image: url(../assets/Hero-bg.png);
    /* Hero-bg */
    width: 100%;
    height: 652px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    width: 998px;
    text-align: center;
}

.banner-content h1 {
    font-size: 48px;
    line-height: 68px;
    padding: 28px 0;
}

.nav-sec-btn {
    background-color: rgb(13, 19, 33);
    color: white;
    padding: 17px 24px;
    border: none;
    border-radius: 8px;
    text-align: center;
    margin: 35px;
    font-size: 20px;
    font-weight: 600px;
}

/* web-dev section */
.web-container {
    width: 1140px;
    margin: 80px auto;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    padding: 80px 97px;
}

.web-text {
    text-align: center;
    margin-top: 80px;

}

.web-text h2 {
    margin-top: 80px;
    padding-bottom: 24px;
}

.web-text p {
    padding-bottom: 48px;
}

.web-coding {
    margin-top: 48px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 16px;
}

.web-coding h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.web-coding-p {
    padding-top: 16px;
    padding-bottom: 32px;
}

.web-coding-btn {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

/* inspiration section */
.inspiration-container {
    width: 1320px;
    margin: auto;
    text-align: center;
    margin-bottom: 150px;

}


.inspiration-content p {
    padding-top: 24px;
    padding-bottom: 48px;
}

.youTube-video {
    width: 1076px;
    margin: auto;
    border-radius: 16px;
    text-align: center;
    padding: 20px 20px;
    border-radius: 16px;
}

/* current-tgr section */

.tgr-h {
    padding-bottom: 24px;
}

.card-container {
    display: flex;
    gap: 25px;
    margin-top: 48px;
    text-align: start;
    margin-bottom: 110px;
}

.card {
    border-radius: 16px;
    padding: 40px;
}
.card-one {
    background-color: rgba(255, 76, 30, 0.05);
}

.card-two {
    background-color: rgba(0, 76, 232, 0.05);
}

.card-three {
    background-color: rgba(255, 223, 0, 0.05);
}

.card-icon {
    padding-bottom: 24px;
}

.card h4 {
    padding-bottom: 8px;
}

.card p {
    padding-bottom: 24px;
}

/* next -tgr section */
.next-tgr-content {
    text-align: center;
    padding-bottom: 48px;

}

.next-tgr-content h2 {
    padding-bottom: 24px;
}

.next-tgr-box {
    display: flex;
    justify-content: center;
    gap: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(13, 19, 33, 0.15);
    padding: 50px;
    border-radius: 16px;
    margin-bottom: 24px;

}

.next-tgr-box h3 {
    padding-bottom: 8px;
}

.next-tgr-box p {
    padding-bottom: 24px;
}

/* support section */
.support-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.979), rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.507)), url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 314px;
    width: 1215px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.support-content {
    text-align: center;
    padding-bottom: 24px;
}

.support-discription {
    padding-top: 16px;
    padding-bottom: 24px;
}

.support-discription,
.support-heading {
    color: white;
}

.type-text {
    border: none;
    padding: 20px 200px 20px 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.type-submit {
    border: none;
    padding: 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

/* footer */
footer {
    background-color: rgba(13, 19, 33, 0.03);
    padding: ;
    height: 100px;
}

.footer-content {
    display: flex;
    padding: 32px 150px;
    justify-content: space-between;
    align-items: center;

}

.footer-content h3 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

.footer-icon {

}